{% load i18n %}{# vim: set ts=2 sw=2 sts=2 et ai syn=htmldjango: #}<!DOCTYPE html>
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie6 oldie" lang="en" xml:lang="en"><![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie7 oldie" lang="en" xml:lang="en"><![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 oldie" lang="en" xml:lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Alex Boonstra @ OSSO B.V."/>
    <title>{{ title|default:"Epistola webmail" }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
  </head>
  <body>
    <!-- menu -->
    {% include "menu.html" %}

    <!-- main content -->
    {% block page_content %}
      XXX
    {% endblock page_content %}

    <!-- Javascript -->
    <script src="{{ STATIC_URL}}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL}}js/script.js"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
